@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* Variable collection */
:root {
  /* color */
  --primary-100: #a4f3ff;
  --primary-200: #00d2e3;
  --primary-300: #00a8b6;
  --primary-400: #00808b;
  --primary-500: #005a62;
  --primary-600: #00363b;
  --primary-700: #001618;
  --primary-base: #00a8b6;
  --primary-bg: #e8f3f4;
  --secondary-100: #ffecef;
  --secondary-200: #ffb8c5;
  --secondary-300: #ff7899;
  --secondary-400: #f8006c;
  --secondary-500: #b6004d;
  --secondary-600: #780030;
  --secondary-700: #400016;
  --secondary-base: #b6004d;
  --tertiary-100: #ffece4;
  --tertiary-200: #ffb88b;
  --tertiary-300: #eb8900;
  --tertiary-400: #b66900;
  --tertiary-500: #844b00;
  --tertiary-600: #552e00;
  --tertiary-700: #2a1400;
  --tertiary-base: #b66900;
  --grey-100: #e4e7e8;
  --grey-200: #bbc0c1;
  --grey-300: #95999a;
  --grey-400: #717475;
  --grey-500: #4f5152;
  --grey-600: #2f3131;
  --grey-700: #121313;
  --grey-base: #95999a;
  --grey-white: #ffffff;
}

body {
  font-family: "Inter", serif;
  font-size: 0.9rem;
}
body.home .visible-area {
  width: 100vw;
  aspect-ratio: 1/1;
  background-image: url("../img/home-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  /* Optional: Center the image */
}
body.home nav {
  color: white;
}
body.home .nav-top {
  height: 56px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
body.home .nav-top svg {
  margin-right: 10px;
}

img {
  pointer-events: none;
}

.container-95 {
  width: 95%;
}

.container-975 {
  width: 97.5%;
}

.nav-bottom {
  color: #fff;
  height: 80px;
  vertical-align: middle;
}
.nav-bottom ul li a {
  color: white;
  font-weight: 300;
  transition: 0.5s;
  padding: 5px 20px;
  cursor: pointer;
}
.nav-bottom ul li a:hover, .nav-bottom ul li a:focus {
  color: white;
  background-color: var(--primary-base);
}
.nav-bottom ul li a.active {
  background-color: var(--primary-400);
}

.alert-offer {
  background-color: var(--primary-200);
  color: var(--primary-700);
  font-weight: 500;
  height: 50px;
  line-height: 100%;
  width: 100%;
}

.responsive-nav .offcanvas {
  width: 100%;
  position: fixed;
  z-index: 1;
  background: var(--primary-500);
  margin: auto;
  left: 0;
  top: 0;
  height: 100%;
}
.responsive-nav .offcanvas-backdrop {
  display: none;
}
.responsive-nav .offcanvas-body {
  padding: 10px;
}
.responsive-nav .offcanvas-body ul li {
  line-height: 28px;
  padding: 4px 10px;
  color: white;
}
.responsive-nav .offcanvas-body ul li .dd {
  float: right;
  margin-top: 10px;
}
.responsive-nav .foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  left: 0;
  background-color: var(--primary-500);
}
.responsive-nav .foot table {
  width: 100%;
}
.responsive-nav .foot table tr {
  border-bottom: 1px solid var(--primary-400);
}
.responsive-nav .foot table tr :last-child {
  border: 0;
}
.responsive-nav .foot table tr td {
  text-align: center;
  padding: 5px;
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--primary-200);
}
.responsive-nav .foot table tr td :first-child {
  color: white;
}
.responsive-nav .foot table tr td a {
  text-decoration: none;
}
.responsive-nav .region .offcanvas-header {
  padding: 5px 15px;
}
.responsive-nav .region .offcanvas-header h5 {
  font-size: 1rem;
  color: white;
  margin: 0;
  line-height: 200%;
  font-weight: 400;
}
.responsive-nav .region .offcanvas-header button.btn-close {
  background-color: white;
  padding: 5px;
}
.responsive-nav .region .offcanvas-body .col-4 {
  margin-bottom: 10px;
  overflow-x: hidden;
}
.responsive-nav .region .offcanvas-body .col-4 a {
  text-decoration: none;
  color: white;
}
.responsive-nav .region .offcanvas-body .col-4 a img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 5px auto;
}
.responsive-nav .region .offcanvas-body .col-4 a span {
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
  line-height: 110%;
  white-space: nowrap;
}
.responsive-nav .services .offcanvas-header {
  padding: 5px 15px;
}
.responsive-nav .services .offcanvas-header h5 {
  font-size: 1rem;
  color: white;
  margin: 0;
  line-height: 200%;
  font-weight: 400;
}
.responsive-nav .services .offcanvas-header button.btn-close {
  background-color: white;
  padding: 5px;
}
.responsive-nav .services .offcanvas-body ul li {
  padding: 8px;
}
.responsive-nav .services .offcanvas-body ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 250%;
}
.responsive-nav .services .offcanvas-body ul li a:hover {
  color: var(--secondary-300);
}
.responsive-nav .services .offcanvas-body ul li ::after {
  content: url(../img/link.svg);
  max-height: 18px;
  float: right;
  margin-top: 3px;
}

.hero {
  height: 50vh;
  margin-top: 15vh;
  color: white;
  text-align: center;
  color: var(--tertiary-100);
  max-width: 45%;
}
.hero h1 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 4rem;
  line-height: 130%;
}
.hero .herodetail {
  font-size: 1.4rem;
  line-height: 140%;
  margin: 2vh auto 8vh;
  font-weight: 300;
}
.hero .button svg {
  animation: bounce 3s infinite;
}

.search {
  width: 80%;
  height: 70px;
  padding: 10px;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5vh;
}
.search form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  align-items: stretch;
  height: 100%;
}
.search form input[type=text] {
  flex-grow: 1;
  background-image: url(../img/search.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  background-size: auto;
  padding-left: 40px;
  border: 0;
}
.search form input[type=text]:focus {
  outline: none;
}
.search form input[type=text]::-moz-placeholder {
  font-weight: 400;
  color: var(--grey-300);
}
.search form input[type=text]::placeholder {
  font-weight: 400;
  color: var(--grey-300);
}
.search form input[type=submit] {
  width: -moz-max-content;
  width: max-content;
  background-color: var(--secondary-base);
  color: white;
  padding: 15px 30px;
  border: 0;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 5px;
  transform: scale(0.95);
  transition: 0.25s;
}
.search form input[type=submit]:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

section.book-early {
  margin: 10vh auto;
  color: var(--grey-700);
}
section.book-early h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.3rem;
  font-weight: 300;
}
section.book-early .desc {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 400;
  margin-top: 15px;
}
section.book-early .btn-explore {
  background-color: var(--primary-700);
  font-size: 0.8rem;
  padding: 12px 17px;
  color: white;
  font-weight: 200;
  transform: scale(1);
  transition: 0.25s;
}
section.book-early .btn-explore:hover {
  transform: scale(1.05);
  transition: 0.5s;
}

section.home-package-preview {
  width: calc(100vw + 12px);
  padding-left: 3%;
  margin-bottom: 5vh;
}
section.home-package-preview .package-preview {
  width: 380px;
  text-decoration: none;
  padding-top: 10px;
  border-radius: 5px;
}
section.home-package-preview .package-preview:hover {
  background-color: var(--primary-100);
}
section.home-package-preview .package-preview img.cover {
  aspect-ratio: 1.6/1;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
section.home-package-preview .package-preview .detail {
  padding: 10px 15px;
  height: 150px;
}
section.home-package-preview .package-preview .detail .duration {
  color: var(--grey-700);
  font-size: 0.75rem;
  font-weight: 400;
}
section.home-package-preview .package-preview .detail .duration img {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}
section.home-package-preview .package-preview .detail .title {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  margin: 5px auto;
  line-height: 130%;
  max-height: 70%;
  overflow: hidden;
  color: var(--grey-700);
}
section.home-package-preview .package-preview .detail .description {
  font-size: 0.85rem;
  height: 35px;
  overflow: hidden;
  color: var(--grey-500);
  line-height: 140%;
  font-weight: 300;
  text-align: justify;
}
section.home-package-preview .package-preview .price {
  padding: 20px;
}
section.home-package-preview .package-preview .price .actual {
  color: var(--grey-400);
  font-size: 1.25rem;
  float: left;
  width: 100%;
}
section.home-package-preview .package-preview .price .actual .save {
  background-color: var(--secondary-100);
  color: var(--secondary-500);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 5px;
  margin-left: 5px;
  content: "Save";
}
section.home-package-preview .package-preview .price .current {
  color: var(--grey-700);
  font-size: 1.25rem;
  font-weight: 500;
}
section.home-package-preview .package-preview .price .current::before {
  content: "From ";
}
section.home-package-preview .package-preview .price .current::after {
  color: var(--grey-400);
  font-size: 1rem;
  content: "/person";
  margin-left: 3px;
}

.highlight {
  background-color: var(--primary-600);
  min-height: 80vh;
  margin-top: 5vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border-top: 5vh solid var(--primary-600);
  border-bottom: 5vh solid var(--primary-600);
}
.highlight:hover .go {
  transition: 0.5ss;
  transform: translate(20px, 0);
  opacity: 1;
}
.highlight .title {
  font-size: 4rem;
  font-weight: 500;
  color: white;
  line-height: 130%;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  margin-top: 3vh;
}
.highlight .detail {
  color: white;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 35vh;
}
.highlight .go {
  float: right;
  margin-top: 5vh;
  opacity: 0.1;
}

section.destinations {
  padding: 10vh 0;
  color: var(--grey-700);
  background-color: var(--grey-100);
}
section.destinations h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 4.4vh;
}
section.destinations .day-filter .btn-days {
  border: 1px solid var(--grey-200);
  color: var(--grey-700);
  font-size: 0.85rem;
  font-weight: 300;
  padding: 9px 14px;
  margin-right: 5px;
  margin-bottom: 5px;
}
section.destinations p {
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 140%;
  font-weight: 400;
  margin-top: 15px;
}
section.destinations .btn-explore {
  background-color: var(--primary-700);
  font-size: 0.8rem;
  padding: 12px 17px;
  color: white;
  font-weight: 200;
  transform: scale(1);
  transition: 0.25s;
}
section.destinations .btn-explore:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
section.destinations .collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 8px;
  margin-top: 8vh;
  transition: 0.5s;
}
section.destinations .collection a:hover .content {
  left: 40px;
  transition: 0.5s;
}
section.destinations .collection .d1 {
  grid-column: span 2/span 2;
  grid-column-start: 3;
  grid-row-start: 1;
}
section.destinations .collection .d1 img {
  aspect-ratio: 2/1;
}
section.destinations .collection .d2 {
  grid-column: span 2/span 2;
  grid-column-start: 1;
  grid-row-start: 2;
}
section.destinations .collection .d2 img {
  aspect-ratio: 2/1;
}
section.destinations .collection .d3 {
  grid-column-start: 3;
  grid-row-start: 2;
}
section.destinations .collection .d3 img {
  aspect-ratio: 1/1;
}
section.destinations .collection .d4 {
  grid-column-start: 4;
  grid-row-start: 2;
}
section.destinations .collection .d4 img {
  aspect-ratio: 1/1;
}
section.destinations .collection .d5 {
  grid-column-start: 1;
  grid-row-start: 1;
}
section.destinations .collection .d5 img {
  aspect-ratio: 1/1;
}
section.destinations .collection .d6 {
  grid-column-start: 2;
  grid-row-start: 1;
}
section.destinations .collection .d6 img {
  aspect-ratio: 1/1;
}
section.destinations .collection .card {
  position: relative;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 20%;
}
section.destinations .collection .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
  border-radius: 10px;
}
section.destinations .collection .card .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.6) 80%);
  z-index: 1;
  border-radius: 10px;
}
section.destinations .collection .card .content {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  z-index: 2;
  width: 85%;
  transition: 0.5s;
}
section.destinations .collection .card .content h4 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 130%;
}
section.destinations .collection .card .content p {
  margin: 5px 0 0;
  font-size: 1rem;
  font-weight: 300;
}

section.newsletter {
  background-color: var(--grey-100);
  padding: 10vh 5vw 0;
}
section.newsletter .newsletter-text small {
  font-size: 0.85rem;
}
section.newsletter .newsletter-text p {
  font-size: 1.4rem;
  line-height: 120%;
  margin-top: 3vh;
  font-weight: 300;
}
section.newsletter .newsletter-form h5 {
  font-size: 1.5rem;
  color: var(--grey-700);
  font-weight: 400;
}
section.newsletter .newsletter-form .newsletter-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  background-color: #fff;
  height: 60px;
  padding: 7px 10px 7px 15px;
}
section.newsletter .newsletter-form .newsletter-input svg {
  margin-top: 15px;
  width: 24px;
}
section.newsletter .newsletter-form .newsletter-input input[type=text] {
  width: 100%;
  border: 0;
  height: auto;
  padding-left: 7px;
  padding-right: 5px;
}
section.newsletter .newsletter-form .newsletter-input input[type=text]:focus {
  outline: none;
}
section.newsletter .newsletter-form .newsletter-input input[type=text]::-moz-placeholder {
  font-weight: 400;
  color: var(--grey-300);
}
section.newsletter .newsletter-form .newsletter-input input[type=text]::placeholder {
  font-weight: 400;
  color: var(--grey-300);
}
section.newsletter .newsletter-form .newsletter-input input[type=submit] {
  background-color: var(--grey-600);
  font-size: 0.85rem;
  font-weight: 300;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  transition: 0.5s;
}
section.newsletter .newsletter-form .newsletter-input input[type=submit]:hover {
  transform: scale(1.05);
  transition: 0.5s;
  background-color: var(--grey-700);
}
section.newsletter .newsletter-form p {
  font-size: 0.75rem;
  color: var(--grey-500);
  margin-top: 1vh;
  font-weight: 300;
}
section.newsletter .newsletter-form p a {
  color: var(--grey-500);
  font-weight: 500;
}
section.newsletter .newsletter-form p a:hover {
  color: var(--primary-500);
}

.hor-line {
  max-width: 100%;
  background-color: var(--grey-100);
}

footer {
  background-color: var(--grey-100);
}
footer .footp {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--primary-400);
  background-clip: padding-box;
  background-color: var(--primary-500);
}
footer .footp .slogan {
  font-family: "Playfair Display", serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 2vh;
}
footer .footp .registered {
  margin-top: 8vh;
  color: var(--secondary-200);
  margin-bottom: 2vh;
  font-size: 1rem;
  max-width: 50%;
}
footer .footp .registered img {
  max-width: 300px;
  margin-top: 1vh;
}
footer .footp .footlink h5 {
  color: var(--secondary-200);
  font-size: 1rem;
  margin-bottom: 1.5vh;
}
footer .footp .footlink ul li a {
  font-weight: 400;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  border-left: 0 solid var(--primary-500);
}
footer .footp .footlink ul li a:hover {
  color: var(--secondary-100);
  border-left: 4px solid var(--primary-500);
  transition: 0.5s;
}
footer .copyright {
  font-size: 0.9rem;
  font-weight: 200;
}
footer .darkbg {
  background-color: var(--primary-500);
}

.modal-nav.fade {
  transition: unset;
}
.modal-nav.fade .modal-dialog {
  transition: transform 0.1s ease, opacity 0.1s ease;
  /* Adjust duration to 0.3s */
  transform: translate(0, 0);
  opacity: 1;
}
.modal-nav .modal-dialog {
  width: 100%;
  margin: 0;
  max-width: 100%;
  border-radius: 0;
}
.modal-nav .modal-dialog .modal-content {
  border-radius: 0;
  background-color: var(--primary-500);
  padding-bottom: 20px;
  color: white;
}
.modal-nav .modal-dialog .modal-content .nav-inside {
  margin-top: 70px;
  margin-bottom: 30px;
}
.modal-nav .modal-dialog .modal-content .region-nav {
  margin-right: 0;
}
.modal-nav .modal-dialog .modal-content .region-nav h3 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 15px;
}
.modal-nav .modal-dialog .modal-content .region-nav a.viewall {
  font-size: 0.9rem;
  font-weight: 200;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.modal-nav .modal-dialog .modal-content .region-nav a.viewall:hover {
  color: var(--primary-100);
}
.modal-nav .modal-dialog .modal-content .region-nav a.viewall:hover img {
  transform: translate(5px, 0);
  transition: 0.5s;
}
.modal-nav .modal-dialog .modal-content .region-nav a.viewall img {
  max-width: 20px;
  margin-left: 5px;
  transition: 0.5s;
}
.modal-nav .modal-dialog .modal-content .region-nav .region-list {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.modal-nav .modal-dialog .modal-content .region-nav .region-list a {
  width: 320px;
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 1rem;
  font-weight: 100;
  white-space: nowrap;
  text-transform: capitalize;
}
.modal-nav .modal-dialog .modal-content .region-nav .region-list a img {
  margin: auto;
  border-radius: 5px;
  aspect-ratio: 16/19;
  width: 320px;
  height: 380px;
  margin-bottom: 12px;
}
.modal-nav .modal-dialog .modal-content .service-nav h3 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  margin-bottom: 15px;
}
.modal-nav .modal-dialog .modal-content .service-nav a.viewall {
  font-size: 0.9rem;
  font-weight: 200;
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.modal-nav .modal-dialog .modal-content .service-nav a.viewall:hover {
  color: var(--primary-100);
}
.modal-nav .modal-dialog .modal-content .service-nav a.viewall:hover img {
  transform: translate(5px, 0);
  transition: 0.5s;
}
.modal-nav .modal-dialog .modal-content .service-nav a.viewall img {
  max-width: 20px;
  margin-left: 5px;
  transition: 0.5s;
}
.modal-nav .modal-dialog .modal-content .service-nav .servicelist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 500px;
  -moz-column-gap: 90px;
       column-gap: 90px;
  margin: auto 5vw;
}
.modal-nav .modal-dialog .modal-content .service-nav .category {
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 30px;
}
.modal-nav .modal-dialog .modal-content .service-nav .category h5 {
  color: var(--primary-100);
  font-size: 1rem;
  font-weight: 400;
}
.modal-nav .modal-dialog .modal-content .service-nav .category ul {
  list-style-type: none;
  padding-left: 0;
}
.modal-nav .modal-dialog .modal-content .service-nav .category ul li {
  font-size: 0.9rem;
  color: white;
  font-weight: 300;
  line-height: 200%;
}

body.list .visible-area {
  width: 100vw;
  background-color: var(--primary-bg);
  color: var(--primary-500);
}
body.list .visible-area a {
  color: var(--grey-600);
  font-weight: 500;
}
body.list .nav-top {
  color: var(--grey-600);
  border-bottom: 1px solid rgba(187, 192, 193, 0.2);
}
body.list .nav-top svg {
  margin-right: 10px;
}
body.list header {
  padding: 5vh 0;
}
body.list header h1 {
  font-size: 5rem;
  line-height: 100%;
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}
body.list header p {
  font-size: 1.25rem;
  line-height: 150%;
  font-weight: 300;
  width: 35%;
  margin: 2vh 0;
  max-height: 14vh;
  overflow: hidden;
}
body.list header a.discover {
  float: right;
  color: var(--primary-500);
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: -45px;
}
body.list header ol.breadcrumb li.breadcrumb-item {
  padding-left: 0.75rem;
}
body.list header ol.breadcrumb li.breadcrumb-item::before {
  padding-right: 0.75rem;
}
body.list header ol.breadcrumb li.breadcrumb-item a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-500);
  margin-bottom: 3vh;
}
body.list header .coverimage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin: 3vh auto;
  min-height: 42vh;
  width: 100%;
  padding: 0;
}
body.list h4.pagename {
  width: 95%;
  margin: 3rem auto;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  -moz-columns: var(--primary-500);
       columns: var(--primary-500);
  font-weight: 200;
}
body.list .listview {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: auto;
}
body.list .listview .filter {
  width: 300px;
  margin-right: 20px;
}
body.list .listview .filter .accordion {
  --bs-accordion-border-color: transparent;
}
body.list .listview .filter .accordion .accordion-item {
  border-bottom: 1px solid var(--grey-200);
  padding: 1rem 0 0.5rem;
  color: var(--grey-600);
}
body.list .listview .filter .accordion .accordion-item .accordion-header {
  background-color: transparent;
}
body.list .listview .filter .accordion .accordion-item .accordion-header .accordion-button {
  padding: 10px 0;
  font-size: 1.25rem;
  color: var(--primary-500);
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.1rem;
}
body.list .listview .filter .accordion .accordion-item .accordion-header .accordion-button::after {
  opacity: 0.3;
}
body.list .listview .filter .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  background-color: transparent;
}
body.list .listview .filter .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: unset;
}
body.list .listview .filter .accordion .accordion-item .accordion-collapse {
  background-color: transparent;
}
body.list .listview .filter .accordion .accordion-item .accordion-collapse .accordion-body {
  padding: 15px 0;
}
body.list .listview .filter .accordion .accordion-item .accordion-collapse .accordion-body.category a {
  display: block;
  text-decoration: none;
  color: var(--grey-600);
  line-height: 200%;
  font-weight: 300;
}
body.list .listview .filter .accordion .accordion-item .accordion-collapse .accordion-body.category a:hover {
  color: var(--primary-400);
}
body.list .listview .filter .accordion .accordion-item .accordion-collapse .accordion-body.category a.selected {
  font-weight: 500;
}
body.list .listview .filter .accordion .accordion-item .accordion-collapse .accordion-body.category a.selected::after {
  float: right;
  content: "Clear";
  color: #fff;
  background-color: var(--primary-300);
  padding: 3px;
  line-height: 100%;
  border-radius: 3px;
  font-size: 0.8rem;
  font-weight: 200;
  margin-top: 4px;
}
body.list .listview .listall {
  width: calc(100% - 320px);
}
body.list .package-preview {
  text-decoration: none;
  padding-top: 10px;
  border-radius: 5px;
}
body.list .package-preview img {
  aspect-ratio: 1.6/1;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
body.list .package-preview .detail {
  padding: 10px 15px;
  height: 150px;
}
body.list .package-preview .detail .duration {
  color: var(--grey-700);
  font-size: 0.75rem;
  font-weight: 400;
}
body.list .package-preview .detail .duration img {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}
body.list .package-preview .detail .title {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  margin: 5px auto;
  line-height: 130%;
  max-height: 70%;
  overflow: hidden;
  color: var(--grey-700);
}
body.list .package-preview .detail .description {
  font-size: 0.85rem;
  height: 35px;
  overflow: hidden;
  color: var(--grey-500);
  line-height: 140%;
  font-weight: 300;
  text-align: justify;
}
body.list .package-preview .price {
  padding: 20px;
}
body.list .package-preview .price .actual {
  color: var(--grey-400);
  font-size: 1.25rem;
  float: left;
  width: 100%;
}
body.list .package-preview .price .actual .save {
  background-color: var(--secondary-100);
  color: var(--secondary-500);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 5px;
  margin-left: 5px;
  content: "Save";
  text-decoration: none;
}
body.list .package-preview .price .current {
  color: var(--grey-700);
  font-size: 1.25rem;
  font-weight: 500;
}
body.list .package-preview .price .current::before {
  content: "From ";
}
body.list .package-preview .price .current::after {
  color: var(--grey-400);
  font-size: 1rem;
  content: "/person";
  margin-left: 3px;
}

body.detail .visible-area header {
  padding: 5vh 0;
}
body.detail .visible-area header h1 {
  font-size: 5rem;
  line-height: 100%;
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}
body.detail .visible-area header ol.breadcrumb li.breadcrumb-item {
  padding-left: 0.75rem;
}
body.detail .visible-area header ol.breadcrumb li.breadcrumb-item::before {
  padding-right: 0.75rem;
}
body.detail .visible-area header ol.breadcrumb li.breadcrumb-item a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-500);
  margin-bottom: 3vh;
}
body.detail .visible-area header .photogrid {
  max-width: 100%;
  margin-top: 5vh;
}
body.detail .visible-area header .photogrid .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px 20px;
}
body.detail .visible-area header .photogrid .parent .image1 {
  grid-column: span 2/span 2;
  grid-row: span 2/span 2;
}
body.detail .visible-area header .photogrid .parent .image2 {
  grid-column-start: 3;
}
body.detail .visible-area header .photogrid .parent .image3 {
  grid-column-start: 4;
}
body.detail .visible-area header .photogrid .parent .image4 {
  grid-column-start: 3;
  grid-row-start: 2;
}
body.detail .visible-area header .photogrid .parent .image5 {
  grid-column-start: 4;
  grid-row-start: 2;
  position: relative;
}
body.detail .visible-area header .photogrid .parent img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
body.detail .visible-area header .photogrid .parent a.viewmore {
  text-decoration: none;
  background-color: var(--primary-700);
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 400;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
body.detail .visible-area header .photogrid .parent a.viewmore:hover {
  background-color: var(--primary-500);
}
body.detail .visible-area header .photogrid .parent .imagehidden {
  display: none;
}
body.detail .package-intro .package-highlight {
  font-size: 1.4rem;
  color: var(--grey-700);
  font-family: "Playfair Display", serif;
}
body.detail .package-intro .package-description {
  width: 85%;
  font-size: 1rem;
  line-height: 170%;
  font-weight: 300;
}
body.detail .package-intro .package-description p {
  font-size: 1rem;
  line-height: 170%;
  font-weight: 300;
}
body.detail .package-intro .package-numbers {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  margin: auto;
  margin-top: 5vh;
}
body.detail .package-intro .package-numbers .boxinfo {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: calc(33.33% - 10px);
}
body.detail .package-intro .package-numbers .boxinfo .icon {
  width: 30px;
  flex-shrink: 0;
}
body.detail .package-intro .package-numbers .boxinfo .icon img {
  width: 25px;
  height: 25px;
  margin-top: 5px;
}
body.detail .package-intro .package-numbers .boxinfo .text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 10px;
  text-align: left;
  font-size: 0.95rem;
}
body.detail .package-intro .package-numbers .boxinfo .text-container strong {
  font-weight: 600;
}
body.detail .package-intro .price {
  padding: 0 20px 20px 0;
}
body.detail .package-intro .price .actual {
  color: var(--grey-400);
  font-size: 1.25rem;
  float: left;
  width: 100%;
}
body.detail .package-intro .price .actual .save {
  background-color: var(--secondary-100);
  color: var(--secondary-500);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 5px;
  margin-left: 5px;
  content: "Save";
  text-decoration: none;
}
body.detail .package-intro .price .current {
  color: var(--grey-700);
  font-size: 1.25rem;
  font-weight: 500;
}
body.detail .package-intro .price .current::before {
  content: "From ";
}
body.detail .package-intro .price .current::after {
  color: var(--grey-400);
  font-size: 1rem;
  content: "/person";
  margin-left: 3px;
}
body.detail .package-intro .booknow a.btn {
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: var(--secondary-500);
  font-size: 0.95rem;
  font-weight: 500;
  color: white;
  border-radius: 30px;
}
body.detail .package-intro .booknow ul.terms {
  padding: 0;
  margin-top: 10px;
}
body.detail .package-intro .booknow ul.terms li {
  font-size: 0.8rem;
  color: var(--grey-700);
  list-style: none;
  width: 50%;
  float: left;
  margin: 5px 0;
}
body.detail .package-intro .booknow ul.terms li::before {
  content: url(/assets/img/icon/tick-sm.svg);
  margin-right: 5px;
  padding-top: 0px;
  width: 18px;
  height: 18px;
  float: left;
}
body.detail .itinerary {
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  height: 800px;
}
body.detail .itinerary #map {
  width: 60%;
}
body.detail .itinerary .date-wise-detail {
  width: 40%;
  overflow: overlay;
  background-color: var(--grey-100);
}
body.detail .itinerary .date-wise-detail h4 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: var(--grey-600);
  padding: 4vh 2vw 0 2vw;
  margin-bottom: 0;
}
body.detail .itinerary .date-wise-detail h4 small {
  font-family: "Inter", serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--grey-400);
  display: block;
  margin: 1vh 0;
}
body.detail .itinerary .date-wise-detail .day {
  border-bottom: 1px solid #C0C3C3;
  padding: 3vh 2vw;
}
body.detail .itinerary .date-wise-detail .day .number {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}
body.detail .itinerary .date-wise-detail .day .activity {
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 180%;
}
body.detail .itinerary .date-wise-detail .day .activity .readmore {
  display: block;
  color: var(--grey-300);
}
body.detail .itinerary .date-wise-detail .day.max-elevation .number::after {
  content: url(/assets/img/icon/max-elevation.svg);
  float: right;
  padding-left: 15px;
}
body.detail .include-exclude {
  background-color: var(--primary-600);
  width: 100%;
  min-height: 50vh;
  color: white;
  padding: 10vh 0 15vh;
}
body.detail .include-exclude h4 {
  font-size: 2rem;
  line-height: 130%;
  font-family: "Playfair Display", serif;
}
body.detail .include-exclude p.incdetail {
  font-size: 0.95rem;
  line-height: 1.5rem;
  font-weight: 200;
  margin-top: 2vh;
}
body.detail .include-exclude .include h5,
body.detail .include-exclude .exclude h5 {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  margin-bottom: 3vh;
}
body.detail .include-exclude .include ul,
body.detail .include-exclude .exclude ul {
  list-style-type: none;
  padding: 0;
}
body.detail .include-exclude .include ul li,
body.detail .include-exclude .exclude ul li {
  font-size: 0.95rem;
}
body.detail .include-exclude .include ul li strong,
body.detail .include-exclude .exclude ul li strong {
  line-height: 130%;
  font-weight: 400;
}
body.detail .include-exclude .include ul li p,
body.detail .include-exclude .exclude ul li p {
  font-weight: 200;
  line-height: 150%;
}
body.detail .include-exclude .include ul li.seeall::before,
body.detail .include-exclude .exclude ul li.seeall::before {
  content: "";
}
body.detail .include-exclude .include ul li.seeall a,
body.detail .include-exclude .exclude ul li.seeall a {
  font-size: 1rem;
  font-weight: 200;
  text-decoration: underline;
  color: white;
}
body.detail .include-exclude .include ul li::before {
  content: "✅";
}
body.detail .include-exclude .exclude ul li::before {
  content: "❌";
}
body.detail .negfaq {
  margin-top: -10vh;
  background-color: white;
  padding-top: 10vh;
}
body.detail .ol_bw {
  filter: grayscale(100%);
}
body.detail .similar-tours h4 {
  font-family: "Playfair Display", serif;
  color: var(--primary-base);
  font-size: 2rem;
}
body.detail .similar-tours .package-preview {
  text-decoration: none;
  padding-top: 10px;
  border-radius: 5px;
}
body.detail .similar-tours .package-preview img {
  aspect-ratio: 1.6/1;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
body.detail .similar-tours .package-preview .detail {
  padding: 10px 15px;
  height: 150px;
}
body.detail .similar-tours .package-preview .detail .duration {
  color: var(--grey-700);
  font-size: 0.75rem;
  font-weight: 400;
}
body.detail .similar-tours .package-preview .detail .duration img {
  float: left;
  margin-right: 5px;
  margin-top: 1px;
}
body.detail .similar-tours .package-preview .detail .title {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  margin: 5px auto;
  line-height: 130%;
  max-height: 70%;
  overflow: hidden;
  color: var(--grey-700);
}
body.detail .similar-tours .package-preview .detail .description {
  font-size: 0.85rem;
  height: 35px;
  overflow: hidden;
  color: var(--grey-500);
  line-height: 140%;
  font-weight: 300;
  text-align: justify;
}
body.detail .similar-tours .package-preview .price {
  padding: 20px;
}
body.detail .similar-tours .package-preview .price .actual {
  color: var(--grey-400);
  font-size: 1.25rem;
  float: left;
  width: 100%;
}
body.detail .similar-tours .package-preview .price .actual .save {
  background-color: var(--secondary-100);
  color: var(--secondary-500);
  font-size: 0.75rem;
  font-weight: 500;
  padding: 5px;
  margin-left: 5px;
  content: "Save";
  text-decoration: none;
}
body.detail .similar-tours .package-preview .price .current {
  color: var(--grey-700);
  font-size: 1.25rem;
  font-weight: 500;
}
body.detail .similar-tours .package-preview .price .current::before {
  content: "From ";
}
body.detail .similar-tours .package-preview .price .current::after {
  color: var(--grey-400);
  font-size: 1rem;
  content: "/person";
  margin-left: 3px;
}
body.detail .nav-bottom ul li a {
  color: var(--grey-600);
  font-weight: 400;
}
body.detail .nav-bottom ul li a:hover {
  color: white;
}

section.whys {
  margin: 5vh auto;
}
section.whys h3 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: var(--primary-500);
  margin-bottom: 1.1rem;
}
section.whys p {
  font-size: 1.1rem;
  color: var(--grey-700);
  font-weight: 500;
}

section.faqs {
  margin: 10vh 0;
}
section.faqs h3 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  color: var(--primary-500);
  margin-bottom: 1.1rem;
}
section.faqs .accordion {
  border: 0;
}
section.faqs .accordion .accordion-item {
  border-image-width: 0;
}
section.faqs .accordion .accordion-item:first-child {
  border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
section.faqs .accordion .accordion-item h2.accordion-header {
  font-family: "Playfair Display", serif;
  border: 0;
}
section.faqs .accordion .accordion-item h2.accordion-header .accordion-button {
  padding: 20px 0;
  background-color: transparent;
  border: 0;
  box-shadow: unset;
}
section.faqs .accordion .accordion-item h2.accordion-header .accordion-button:focus {
  box-shadow: unset;
}
section.faqs .accordion .accordion-item h2.accordion-header .accordion-button.collapsed {
  border: 0;
}
section.faqs .accordion .accordion-item h2.accordion-header .accordion-button span.numbering {
  font-size: 0.8rem;
  margin-right: 20px;
}
section.faqs .accordion .accordion-item .accordion-collapse.show {
  border: 0;
}
section.faqs .accordion .accordion-item .accordion-collapse .accordion-body {
  padding-left: 0;
  padding-right: 0;
  font-size: 0.95rem;
  line-height: 160%;
  font-weight: 400;
  color: var(--grey-500);
}
section.faqs .btn-show {
  width: -moz-max-content;
  width: max-content;
  background-color: var(--secondary-base);
  color: white;
  padding: 10px 20px;
  border: 0;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 30px;
  transform: scale(0.95);
  transition: 0.25s;
}

.form-check {
  min-height: 2rem;
}
.form-check:hover {
  border-right: 3px solid var(--primary-100);
  cursor: pointer;
  color: var(--primary-300);
}
.form-check .form-check-input {
  width: 22px;
  height: 22px;
  margin-top: 0;
}
.form-check .form-check-input:checked[type=checkbox] {
  --bs-form-check-bg-image: unset;
  background-color: var(--secondary-300);
  border-color: var(--secondary-300);
}
.form-check .form-check-label {
  padding-left: 10px;
  line-height: 150%;
  font-weight: 300;
}

.carousel-section {
  position: relative;
}
.carousel-section .carousel-indicators button {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.carousel-section:hover .carousel-control-prev,
.carousel-section:hover .carousel-control-next {
  opacity: 1;
}

.responsive-filter .offcanvas-body .listview {
  width: 100%;
}
.responsive-filter .offcanvas-body .listview .filter {
  width: 100%;
  margin-right: 0;
}

.readmore {
  color: var(--secondary-300);
  text-decoration: underline;
  font-size: 0.9rem;
}

body.about header h5 {
  width: 60%;
  font-weight: 400;
  line-height: 160%;
  margin-top: 2vh;
}
body.about header .us {
  margin-top: 2vh;
  border-radius: 15px;
  width: 100%;
}
body.about .about-content h3 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}
body.about .about-content p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 170%;
}
body.about .about-content strong {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  font-weight: 500;
}
body.about .about-content ul {
  margin-top: 1vh;
}
body.about .about-content ul li {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 180%;
}

@keyframes bounce {
  40% {
    transform: translateY(0%);
  }
  45% {
    transform: translateY(15%);
  }
  60% {
    transform: translateY(0%);
  }
  70% {
    transform: translateY(7%);
  }
  80% {
    transform: translateY(0%);
  }
  90% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0);
  }
}
/* Custom animation for modal */
@keyframes moveInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
    transition: 0.1s;
    animation-delay: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    transition: 0.1s;
    animation-delay: 0;
  }
}
.modal.show {
  animation: moveInFromTop 0.1s forwards;
}

@media (max-width: 1200px) {
  .container-95 {
    width: 100%;
  }
  .nav-top {
    height: auto;
    font-size: 0.8rem;
  }
  .nav-top svg {
    display: none;
  }
  .nav-bottom {
    height: auto;
    padding: 0;
  }
  .nav-bottom ul li a {
    padding: 7px;
  }
  .hero {
    margin-top: 5vh;
    height: 65vh;
    max-width: 75%;
  }
  section.home-package-preview .package-preview:last-child {
    border: 0;
  }
  section.home-package-preview .package-preview .detail {
    height: auto;
    padding: 10px 0;
  }
  section.home-package-preview .package-preview .detail .title {
    margin: auto;
  }
  section.home-package-preview .package-preview .detail .description {
    height: 19px;
    text-align: left;
  }
  section.home-package-preview .package-preview .price {
    padding: 0;
  }
  .highlight .title {
    text-align: center;
    font-size: 3rem;
  }
  .highlight .go {
    float: none;
    width: 53px;
    display: block;
    margin: 2vh auto;
  }
  section.destinations {
    padding: 5vh 0;
  }
  section.destinations h2 {
    font-size: 2rem;
    margin-bottom: 2vh;
  }
  section.destinations .collection {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 8px;
    margin-top: 4vh;
  }
  section.destinations .collection .d1,
  section.destinations .collection .d2,
  section.destinations .collection .d3,
  section.destinations .collection .d4,
  section.destinations .collection .d5,
  section.destinations .collection .d6 {
    grid-column: unset;
    grid-column-start: unset;
    grid-row-start: unset;
  }
  section.destinations .collection .d1 img,
  section.destinations .collection .d2 img,
  section.destinations .collection .d3 img,
  section.destinations .collection .d4 img,
  section.destinations .collection .d5 img,
  section.destinations .collection .d6 img {
    aspect-ratio: 3/1;
  }
  section.destinations .collection .content h4 {
    font-size: 1rem;
  }
  section.newsletter {
    padding: 10vh 5vw;
  }
  .hor-line {
    max-width: 200%;
    overflow-x: hidden;
    width: 100%;
  }
  footer .footp {
    overflow-x: hidden;
  }
  footer .footp .registered {
    margin-top: 3vh;
    max-width: 100%;
  }
  footer .footp .registered img {
    max-width: 300px;
    margin-top: 1vh;
    display: block;
    margin-bottom: 5vh;
  }
  body.list h4.pagename {
    margin: 2rem auto;
  }
  body.list h4.pagename button {
    float: right;
  }
  body.list header p {
    width: 70%;
  }
  body.list .listview {
    width: 95%;
  }
  body.list .listview .listall {
    width: 100%;
  }
  section.whys,
  section.faqs {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  body.detail .visible-area .alert-offer {
    margin: auto;
  }
  body.detail .visible-area header {
    padding: 2vh 0;
  }
  body.detail .visible-area header h1 {
    font-size: 3rem;
  }
  body.detail .visible-area header .photogrid {
    margin-top: 3vh;
  }
  body.detail .visible-area header .photogrid .parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  body.detail .visible-area header .photogrid .parent div {
    width: 49%;
    display: none;
  }
  body.detail .visible-area header .photogrid .parent div:first-child, body.detail .visible-area header .photogrid .parent div:nth-child(5) {
    display: block;
  }
  body.detail .package-intro .package-highlight {
    font-size: 1.4rem;
    color: var(--grey-700);
    font-family: "Playfair Display", serif;
  }
  body.detail .package-intro .package-description {
    width: 100%;
  }
  body.detail .negfaq {
    margin-top: 0vh;
    padding-top: 5vh;
  }
  body.detail .include-exclude {
    padding: 5vh 0 5vh;
  }
  body.detail .include-exclude .include,
  body.detail .include-exclude .exclude {
    margin-top: 3vh;
  }
  body.about header h5 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .book-early {
    margin-top: 5vh;
  }
  .alert-offer {
    height: auto;
    margin-bottom: 3vh;
    line-height: 120%;
  }
  .hero {
    margin-top: 0;
    max-width: 90%;
    height: 70vh;
  }
  .hero > div {
    height: 100%;
  }
  .hero h1 {
    font-size: 3rem;
    line-height: 120%;
  }
  .hero .herodetail {
    margin: 2vh auto;
    font-size: 1.2rem;
  }
  .hero .search {
    width: 100%;
  }
  .hero .search form input[type=text] {
    max-width: calc(100% - 90px);
  }
  .hero .search form input[type=submit] {
    padding: 12px;
  }
  .book-early {
    text-align: center;
    margin-bottom: 5vh;
  }
  .book-early .btn-explore {
    margin-top: 3vh;
  }
  .overflow-md-scroll {
    overflow: visible !important;
  }
  section.home-package-preview {
    overflow-x: hidden;
  }
  section.home-package-preview .package-preview {
    max-width: 90%;
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    clear: both;
    border-bottom: 1px solid var(--grey-100);
    text-align: center;
  }
  section.home-package-preview .package-preview:first-child {
    padding: 15px;
  }
  section.home-package-preview .package-preview img.cover {
    max-width: 90%;
    margin-right: 10px;
    float: none;
  }
  section.home-package-preview .package-preview .detail {
    height: auto;
    padding: 0;
  }
  section.home-package-preview .package-preview .detail .duration img {
    float: none;
  }
  section.home-package-preview .package-preview .detail .title {
    margin: auto;
  }
  section.home-package-preview .package-preview .detail .description {
    height: 19px;
    text-align: left;
  }
  section.home-package-preview .package-preview .price {
    padding: 0;
    width: 100%;
    float: left;
    margin-top: 15px;
  }
  section.home-package-preview .package-preview .price .actual {
    clear: both;
    text-wrap: nowrap;
  }
  section.destinations {
    padding: 5vh 0;
  }
  section.destinations p {
    font-size: 1rem;
  }
  section.destinations .collection .card .content h4 {
    font-size: 1.3rem;
  }
  section.destinations .collection .card .content p {
    font-size: 1rem;
  }
  .navbar-toggler {
    border: 0;
  }
  .navbar-toggler .navbar-toggler-icon {
    width: 2rem;
    height: 2rem;
  }
  body.list header {
    padding: 0;
  }
  body.list header h1 {
    font-size: 3rem;
  }
  body.list header p {
    width: 100%;
    max-height: 30vh;
  }
  body.list header a.discover {
    float: none;
  }
  body.list header .coverimage {
    margin: 1vh auto;
  }
  body.detail .itinerary {
    flex-direction: column;
    height: auto;
  }
  body.detail .itinerary #map {
    width: 100%;
  }
  body.detail .itinerary .date-wise-detail {
    width: 100%;
  }
  body.detail .itinerary .date-wise-detail .day {
    padding: 1.5vh 2vw;
  }
  body.detail .itinerary .date-wise-detail .day .number {
    margin-bottom: 5px;
  }
  body.detail .itinerary .date-wise-detail .day .activity {
    text-align: justify;
  }
}
@media (max-width: 420px) {
  .alert-offer {
    height: auto;
    font-size: 0.8rem;
    line-height: 100%;
    padding: 5px;
    margin-bottom: 2vh;
  }
  .hero {
    max-width: 95%;
    height: 65vh;
  }
  .hero h1 {
    font-size: 2.2rem;
  }
  .hero .herodetail {
    font-size: 1rem;
  }
  .nav-bottom ul li a {
    font-size: 0.8rem;
  }
  .nav-bottom ul li a img {
    width: 12px;
  }
  .home-package-preview .package-preview .detail .description {
    display: none;
  }
  .home-package-preview .package-preview .price .actual {
    font-size: 1rem;
    display: contents;
  }
  .home-package-preview .package-preview .price .current {
    white-space: nowrap;
    font-size: 1rem;
  }
  .highlight {
    background-size: cover;
    border: 0;
  }
  .highlight .title {
    margin-top: 5vh;
  }
  .highlight .detail {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  section.destinations .collection .card .content {
    top: 20px;
    left: 20px;
  }
  section.destinations .collection .card .content h4 {
    font-size: 1rem;
    margin-bottom: 0;
  }
  section.destinations .collection .card .content p {
    font-size: 0.9rem;
  }
  body.list header h1 {
    font-size: 2rem;
  }
  body.list header p {
    max-height: 20vh;
    font-size: 1.1rem;
  }
  body.list header a.discover {
    float: none;
  }
  body.list header .coverimage {
    margin: 1vh auto;
  }
  body.detail .package-intro .package-numbers {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  body.detail .package-intro .package-numbers .boxinfo {
    width: 100%;
    gap: 0;
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */