.home-hero-container {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;

    aspect-ratio: 1 / 1;
    background-image: url('../../../public/assets/images/hero-background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    opacity: 0.9;
}
.home-hero-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color-mix(in oklab, #000000 20%, transparent);
    opacity: 0.3; /* Adjust this value for the opacity of the image */
    pointer-events: none; /* Ensure it doesn't interfere with other elements */
    z-index: 1; /* Makes sure the overlay is above the image */
}
@media (min-width: 768px) {
    .home-hero-container {
        height: calc(100vh + 50px);
    }
}
.nav-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    z-index: 10;
}
.top-nav-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.75rem;
    color: var(--grey-700);
}
.top-nav-link:hover {
    color: #000000;
}
.top-nav-link svg {
    width: 16px;
    height: 16px;
}
.top-nav-link .whatsapp-icon {
    width: 22px;
    height: 22px;
}
.home-hero-container .top-nav-link {
    color: var(--grey-white) !important;
}
.home-hero-container .top-nav-link:hover {
    color: var(--grey-base) !important;
}
